.Header {
  background: var(--true-black);
  padding: 20px 0px;
  margin: -10px;

  border-bottom: 2px solid var(--black);
}

.Header__container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__logo {
  height: 45px;
}
.meniu {
  display: flex;
  justify-content: space-ar;
}

.meniu p {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  transition: 0.25s;
}

.meniu p:hover {
  color: var(--blue);
}
