:root {
  --true-black: #000000;
  --black: #222222;
  --bgSecondary: #f9f9f9;
  --default-radius: 4px;
  --true-blue: rgb(10, 171, 199);
  --blue: #0071bd;
  --border: #d9d9d9;
  --white: white;
  --gray: gray;
}

body {
  background: var(--bgSecondary);
}
